DATABASE_URL="url de la base de datos"
DB_USER="usuario de la base de datos"
DB_PASSWORD="password de la base de datos"
DB_NAME="nombre de la base de datos"
DB_HOST="host de la base de datos"
DB_PORT="puerto de la base de datos"
JWT_SECRET="clave secreta de hasheo de password"

MERCADOPAGO_ACCESS_TOKEN="token de acceso de mercadopago"
MERCADOPAGO_PUBLIC_KEY="llave publica de mercadopago"
